<script th:fragment="importJsFragment">
    $(document).ready(function () {
        let page = "[[${page}]]";
        reportChat.list(page);
    });

    let text = {
        restrainConfirm: "[[#{lang.report.confirm.restrain}]]",         // 제재 confirm
        confirmConfirm: "[[#{lang.report.confirm.confirm}]]",           // 확인 confirm
        deleteConfirm: "[[#{lang.report.delete.confirm}]]",             // 삭제 confirm
        reportCode: "[[#{lang.report.reason}]]",                        // 신고사유
        exceptionSelect: "[[#{lang.report.exception.noSelect}]]"        // 대상 선택 안내
    }

    let reportChat = {
        // 조회
        list: function (page) {
            if (page != undefined) {
                $("input[name=page]").val(page);
            }
            $.ajax({
                url: '[[${SERVER.currentDomain}]]/v1/chat/report',
                headers: {
                    'Authorization': `Bearer ` + $.cookie('accessToken'),
                },
                cache: true,
                method: 'GET',
                data: $("#frm").serialize(),
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.result) {
                        // 페이지 url 갱신 ( 검색 후 새로고침 시 검색값 유지 )
                        if (window.location.search !== "?" + $("#frm").serialize()) {
                            history.pushState(null, null, "?" + $("#frm").serialize());
                        }
                        // total count
                        $(".totalCount").next().text(res.data.params.pagination.totalRecordCount);

                        if (res.data.list.length > 0) {
                            // 순서 계산
                            let totalRecordCount = res.data.params.pagination.totalRecordCount;
                            let recordSize = res.data.params.recordSize;

                            // list
                            let listTbody = "";
                            $.each(res.data.list, function (index, el) {

                                listTbody += `
                                <tr>
                                    <td class="text-center">${el.idx}</td>
                                    <td class="text-center">${el.roomUuid}</td>
                                    <td class="text-center">${el.memberNick}(${el.id})</td>
                                    <td class="text-center">${el.targetMemberNick}(${el.targetId})</td>
                                    <td class="text-center"><a href="javascript:void(0);" onclick="reportChat.chatReportView(${el.idx});">${text_replace(el.message)}</a></td>
                                    <td class="text-center">${el.regDate}</td>
                                </tr>`;
                            });
                            $("#lists tbody").html(listTbody);


                            // paging - common.js
                            pagination("reportChat", res.data.params.page, res.data.params.pagination);
                            $.cookie("backUrl", $("#frm").serialize());
                        } else {
                            // 결과 없음
                            let listTbody = `<tr><td colspan="6" class="text-center">${res.message}</td></tr>`;
                            $("#lists tbody").html(listTbody);
                            $(".pagination").html("");
                        }

                    } else {
                        // ajax exception error
                        toast.alert(res.message);
                    }
                },
                error: function (request, status, error) {
                    // filter error
                    toast.alert("code: " + request.status + "<br>" + "message: " + request.responseText + "<br>" + "error :" + error);
                }
            });
            return false;
        },
        chatReportView: function (idx) {
            js_popup('[[${SERVER.currentDomain}]]/chat/report/view/' + idx + '?viewType=report', 'chat_report_view', '700', '800');
        }
    }

    // 텍스트 변경
    function text_replace(text) {
        let replace_text = text.replace(/(<([^>]+)>)/ig, "");

        if(replace_text.length > 10) {
            replace_text = text.substring(0,10) + "...";
        }

        return replace_text;
    }

    // XSS 공격 방지 - html 태그 이스케이프 처리
    function cleanXSS(content) {

        let convertText = content
            .replace(/</g, "&lt;") // 꺽새 변환
            .replace(/>/g, "&gt;") // 꺽새 변환
            .replace("\\(", "&#40;") // 괄호 변환
            .replace("\\)", "&#41;") // 괄호 변환
            .replace(/\"/g, "&quot;") // 큰따옴표 변환
            .replace(/\'/g, "&#39;") // 작은따옴표 변환
            .replace(/\n/g, "<br />"); // <br> 태그 변환

        return convertText;
    }

    //뒤로가기 이벤트 시 실행
    $(window).on('popstate', function (event) {
        window.location = document.location.href;
    });
</script>