<script type="text/javascript" th:fragment="importJsFragment">

    const dataTransfer = new DataTransfer();

    // json data
    let jsonStr = '[[${jsonData}]]';
    let jsonObject = JSON.parse(jsonStr.replace(/&quot;/g,'"'));

    // 카테고리
    let categoryList = jsonObject['categoryList'][0];
    let categoryDepth = [];

    // 브랜드
    let brandList = jsonObject['brandList'];
    let brandGroupList = jsonObject['brandGroupList'];

    // 인증유형 리스트
    let certificationList = jsonObject['certificationList'];

    // 상품정보 제공고시
    let attributeSetList = jsonObject['attributeSetList'];

    // 구성성분(알러지)
    let ingredientList = jsonObject['ingredientList'];

    // 건강질환
    let healthList = jsonObject['healthList'];

    // 단위
    let unitList = jsonObject['unitList'];

    $(document).ready(function () {

        // 카테고리 목록
        selected.categoryNode(0, categoryList);
        // 브랜드 목록
        selected.brandNode();
        // 인증 유형 목록
        selected.certificationNode(null);
        // 상품정보 제공고시 목록
        selected.attributeSetNode();
        // 구성성분(알러지) 목록
        selected.ingredientNode(null);

        // ckeditor
        if ($("#detail").length > 0) {
            ClassicEditor
                .create(document.querySelector("#detail"), {
                    language: "ko",
                    simpleUpload: {
                        uploadUrl: "[[${SERVER.shopDomain}]]/v1/product/mp/tempImage",
                        // withCredentials: false,
                        // headers: {
                        //     'Authorization': 'Bearer ' + $.cookie('accessToken'),
                        // },
                    },
                })
                .then(newEditor => {
                    const fileInput = newEditor.ui.view.element.querySelector('input[type="file"]');
                    fileInput.setAttribute("accept", ".jpg,.jpeg,.png"); // jpg, jpeg, png 이미지만 허용
                    editor = newEditor;
                })
                .catch(error => {
                    console.error(error);
                });
        }
    });

    let text = {
        confirm:{
            delete : "[[#{lang.product.confirm.delete}]]",                          // 삭제 하시겠습니까?
        },
        exception: {
            manyCharacters : "[[#{lang.product.exception.characters}]]",            // 글자 수가 너무 많습니다.
            certificationSame : "[[#{lang.product.exception.certification.same}]]", // 같은 인증유형을 선택하였습니다.
            category : "[[#{lang.product.exception.category}]]",                    // 선택된 카테고리가 없습니다.
            brand : "[[#{lang.product.exception.brand}]]",                          // 선택된 브랜드가 없습니다.
            name : "[[#{lang.product.exception.name}]]",                            // 상품명을 입력해 주세요.
            thumbnail : "[[#{lang.product.exception.thumbnail}]]",                  // 썸네일을 등록해 주세요.
            price : "[[#{lang.product.exception.price}]]",                          // 상품가격을 입력해 주세요.
            detail: "[[#{lang.product.exception.detail}]]",                         // 상품상세 내용을 입력해 주세요.
            certificationType : "[[#{lang.product.exception.certification.type}]]", // 인증정보를 선택해 주세요.
            certification: "[[#{lang.product.exception.certification}]]",           // 인증유형을 확인해 주세요.
            attributeSet: "[[#{lang.product.exception.attribute.set}]]",            // 상품정보 제공고시를 선택해 주세요.
            ingredientSame: "[[#{lang.product.exception.ingredient.same}]]"         // 같은 성분을 선택하였습니다.
        },
        placeholder: {
            selected: "[[#{lang.product.placeholder.select}]]",                     // 선택해주세요.
            reference: "[[#{lang.product.placeholder.reference}]]",                 // 상품 상세설명 참조
            referenceSet: "[[#{lang.product.placeholder.reference.setting}]]",      // '상품 상세설명 참조' 설정
        }
    }

    let selected = {
        // 카테고리 선택
        category : function (depth, categoryIdx) {
            $("#lay_category_select table tbody tr td").eq(depth-1).find("li").removeClass("active")
            $("#lay_category_select table tbody tr td").eq(depth-1).find("li[data-idx="+categoryIdx+"]").addClass("active");

            let index = $("#lay_category_select table tbody tr td").eq(depth-1).find("li[data-idx="+categoryIdx+"]").index();

            // 하위 노드
            categoryDepth.length = depth - 1;
            categoryDepth.push(index);

            let childrenNode = categoryList;
            for(let i=0; i<depth; i++) {
                childrenNode = childrenNode[categoryDepth[i]].childrenCategory;
            }
            selected.categoryNode(depth, childrenNode);
        },
        // 카테고리 생성
        categoryNode : function (depth, childrenNode) {
            $("#lay_category_select table thead tr th").eq(depth).nextAll().remove();
            $("#lay_category_select table tbody tr td").eq(depth-1).nextAll().remove();
            let headerCount = $("#lay_category_select table thead tr:last-child th").length;

            if (childrenNode) {
                if (depth >= headerCount) {
                    let depthText = " DEPTH";
                    let headerHtml = `<th class="border text-center table-header">${(depth+1) + depthText}</th>`;
                    $("#lay_category_select table thead tr:last-child").append(headerHtml);
                }

                let bodyHtml = `<td><ul class="list-group">`;
                $.each(childrenNode, function (index, value) {
                    bodyHtml += `<li class="list-group-item" data-depth="${value.depth}" data-idx="${value.idx}" onclick="selected.category(${value.depth}, ${value.idx});">${value.category}</li>`;
                })
                bodyHtml += `</td></ul>`;

                $("#lay_category_select table tbody tr").append(bodyHtml);
            }
        },
        // 브랜드 선택
        brand : function (key, index) {
            $("#lay_brand_select table tbody tr li").removeClass("active");
            $("#lay_brand_select table tbody tr").eq(key).find("li").eq(index).addClass("active");
        },
        // 브랜드 생성
        brandNode : function () {
            let brandListHtml = "";
            brandGroupList.forEach((val, key) => {

                let brand = brandList[key+1];
                if (brand) {
                    let liHtml = "";
                    brand.forEach((data, i) => {
                        liHtml += `<li class="list-group-item" data-idx="${data.idx}" onclick="selected.brand(${key}, ${i})">${data.brandName}</li>`;
                    });
                    brandListHtml += `
                        <tr>
                            <td>
                               <!-- <h4>${val.brandGroupName}</h4> -->
                                <ul class="list-group list-group-horizontal">
                                    ${liHtml}
                                </ul>
                            </td>
                        </tr>`;
                }
            });

            $("#lay_brand_select table tbody").append(brandListHtml);
        },
        // 인증정보 생성, 삭제
        certificationNode : function (type, _this=null) {
            // row 삭제
            if (type == 'delete') {
                $(_this).parents("ul").remove();

            }
            // row 추가
            else {
                // selectBox option
                let selectHtml = `<option value="0">${text.placeholder.selected}</option>`;
                $.each(certificationList, (idx, el) => {
                    selectHtml += `<option value="${el.idx}">${el.certificationName}</option>`;
                })

                // button html
                let buttonHtml = `
                    <button class="btn btn-primary btn-sm" id="btnAdd" onclick="selected.certificationNode('add');">
                        <i class="fa-solid fa-plus"></i>
                    </button>`;
                if (type == 'add') {
                    // row 삭제 버튼
                    buttonHtml = `
                        <button class="btn btn-primary btn-sm" id="btnAdd" onclick="selected.certificationNode('delete', this);">
                            <i class="fa-solid fa-xmark"></i>
                        </button>`;
                }

                let certificationRow = `
                    <ul class="row m-0">
                        <li class="col-sm-4">
                            <select class="form-select form-select-sm" name="certification">
                                ${selectHtml}
                            </select>
                        </li>
                        <li class="col-sm-4">
                            <input type="text" class="form-control form-control-sm" name="certificationNum" maxlength="50">
                        </li>
                        <li class="col-sm-4">
                            ${buttonHtml}
                        </li>
                    </ul>`;

                $("#lay_main #certification").append(certificationRow);
            }
        },
        // 상품 정보 제공고시 선택
        attribute : function (_this) {
            $("#attributeName").html("");

            let trHtml = ``;
            $.each(attributeSetList[_this.value], (idx, el) => {
                trHtml += `
                    <tr>
                        <th class="text-center">${el.attributeName}</th>
                        <td class="">
                            <input type="text" class="form-control form-control-sm" name="attributeValue" data-idx="${el.attributeIdx}" maxlength="255">
                        </td>
                    </tr>`;
            })

            let tableHtml = `
                <table class="table">
                    <colgroup>
                        <col style="width:20%;">
                        <col style="width:80%;">
                    </colgroup>
                    <tbody>
                        ${trHtml}
                    </tbody>
                </table>`;

            $("#attributeName").append(tableHtml);

            // 상품 상세설명 참조 설정
            $("#productReference").change();
        },
        // 상품 정보 제공고시 option 생성
        attributeSetNode : function () {
            // selectBox option
            let selectHtml = `<option value="0">${text.placeholder.selected}</option>`;
            $.each(attributeSetList, (idx, el) => {
                selectHtml += `<option value="${el[0].idx}">${el[0].attributeSetName}</option>`;
            })

            let attributeSetRow = `
                <select class="d-inline-block form-select form-select-sm w-25 mr-4" onchange="selected.attribute(this)">
                    ${selectHtml}
                </select>
                <div class="d-inline-block form-check lh-lg">
                    <input class="form-check-input" type="checkbox" id="productReference">
                    <label class="form-check-label" for="productReference">
                        ${text.placeholder.referenceSet}
                    </label>
                </div>
            `;

            $("#attributeSet").append(attributeSetRow);
        },
        // 구성성분(알러지) 생성, 삭제
        ingredientNode : function (type, _this=null) {
            // row 삭제
            if (type == 'delete') {
                $(_this).parents("ul").remove();

            }
            // row 추가
            else {
                // selectBox option
                let selectHtml = `<option value="0">${text.placeholder.selected}</option>`;
                $.each(ingredientList, (idx, el) => {
                    selectHtml += `<option value="${el.idx}">${el.allergy}</option>`;
                })

                // selectBox option
                let unitHtml = `<option value="0">${text.placeholder.selected}</option>`;
                $.each(unitList, (idx, el) => {
                    unitHtml += `<option value="${el.idx}">${el.unit}</option>`;
                })

                // button html
                let buttonHtml = `
                    <button class="btn btn-primary btn-sm" id="btnAdd" onclick="selected.ingredientNode('add');">
                        <i class="fa-solid fa-plus"></i>
                    </button>`;
                if (type == 'add') {
                    // row 삭제 버튼
                    buttonHtml = `
                        <button class="btn btn-primary btn-sm" id="btnAdd" onclick="selected.ingredientNode('delete', this);">
                            <i class="fa-solid fa-xmark"></i>
                        </button>`;
                }

                let ingredientRow = `
                    <ul class="row m-0">
                        <li class="col-sm-3">
                            <select class="form-select form-select-sm" name="ingredient">
                                ${selectHtml}
                            </select>
                        </li>
                        <li class="col-sm-2">
                            <input type="number" step="0.0000000001" class="d-inline-block form-control form-control-sm" name="ratio" style="width: calc(100% - 30px);">
                            <span> % </span>
                        </li>
                        <li class="col-sm-3">
                            <input type="number" step="0.0000000001" class="form-control form-control-sm" name="ingredientValue">
                        </li>
                        <li class="col-sm-2">
                            <select class="form-select form-select-sm" name="unit">
                                ${unitHtml}
                            </select>
                        </li>
                        <li class="col-sm-2">
                            ${buttonHtml}
                        </li>
                    </ul>`;

                $("#lay_main #ingredient").append(ingredientRow);
            }
        },
        // 건강질환 선택
        health : function (_this) {
            if ($(_this).hasClass("active")) {
                $(_this).removeClass("active");
            } else {
                $(_this).addClass("active");
            }
        },
    }

    // 등록할 이미지 임시 배열
    let thumbnailRow = [];

    let image = {
        // 이미지 추가
        add : function (_this) {
            let _imageRowAdd = [];
            let _imageSelector = "";

            _imageRowAdd = thumbnailRow;
            _imageSelector = $("#thumbnail");

            // 이미지 배열에 파일 추가
            $.each(_this.files, function (idx, el) {
                // 등록할 이미지 배열에 넣기
                _imageRowAdd.push(_this.files[idx]);

                // 이미지 미리보기
                let imageSrc = "";
                let name = "";
                if (el.size != undefined) {
                    imageSrc = URL.createObjectURL(el);
                    name = el.name;
                } else {
                    imageSrc = el.url;
                    name = el.filename;
                }

                let html = previewHtml(imageSrc, name, null);
                _imageSelector.append(html);
            });
        },
        // 미리 보기 삭제
        previewDelete : function (_this) {
            let imageWrap = $(_this).closest(".image-preview-wrap");

            // 미리보기 삭제
            imageWrap.remove();

            // 선택 파일 없을때 표시
            if ($(".image-preview-wrap").length <= 0) {
                let noFile = "<span th:text=\"#{lang.product.placeholder.file.no}\"></span>";

                $("#preview").html(noFile);
            }
        },
        // 이미지 삭제
        delete : function (_this, idx) {
            if (confirm(text.confirm.delete)) {
                let _imageRowDelete = [];
                let row = "";
                _imageRowDelete = thumbnailRow;
                row = $(_this).closest("#thumbnail .image-preview-wrap");

                // 추가 이미지
                if (_imageRowDelete[row.prevAll().length].idx == undefined) {

                    // 배열에서 삭제
                    _imageRowDelete.splice(row.prevAll().length, 1);

                    // 미리 보기 삭제
                    image.previewDelete(_this);
                }
            }
        }
    }


    let productMp = {
        list: function () {
            location.href = "/shop/product/mp/list";
        },
        register : function () {
            /*
                TODO 수정 필요 함
                // {1번째 depth idx, 2번째 depth idx, 3번째 depth idx}
                // 대표 카테고리 선택 - 몇번째 index 인지
                // dto 및 대표 선택 column 추가(상품별 1개만 선택)
                [ {1,3,4}, {1,3}, {2,5,9} ]
             */

            // 카테고리 배열
            let category = new Array();
            $("#lay_category_select li.active").each(function (idx, el) {
                let obj = new Object();
                obj.idx = $(el).data('idx');
                obj.depth = $(el).data('depth');
                obj.category = $(el).text().trim();
                category.push(obj);
            });

            // 인증정보 배열
            let certification = new Array();
            $("select[name='certification']").each(function (idx, el) {
                let obj = new Object();
                obj.idx = $(el).val();
                obj.certificationNum = $("input[name='certificationNum']").eq(idx).val().trim();
                if (obj.idx != 0) {
                    certification.push(obj);
                }
            });

            // 상품정보 제공고시 배열
            let attribute = new Array();
            $("input[name=attributeValue]").each(function (idx, el) {
                let obj = new Object();
                obj.idx = $("#attributeSet select").val();      // 상품 정보 고시 표기내용(attribute_name.idx)
                obj.attributeIdx = $(el).data("idx");           // 상품 정보 고시 표기명(attribute_name.attribute_name)
                obj.attributeValue = $(el).val().trim();        // 상품 정보 고시 값(attribute_mapping.attribute_value)
                attribute.push(obj);
            });


            // 구성성분(알러지) 배열
            let ingredient = new Array();
            $("select[name='ingredient']").each(function (idx, el) {
                let obj = new Object();
                obj.allergyTypeIdx = $(el).val();
                obj.ratio = $("input[name=ratio]").eq(idx).val();
                obj.ingredientValue = $("input[name='ingredientValue']").eq(idx).val().trim();
                obj.unitIdx = $("select[name=unit]").eq(idx).val();
                if (obj.allergyTypeIdx != 0) {
                    ingredient.push(obj);
                }
            });

            // 건강질환 배열
            let health = new Array();
            $("#health ul li.active").each(function (idx, el) {
                let obj = new Object();
                obj.healthTypeIdx = $(el).val();

                health.push(obj);
            })

            // 상품 가격(정가) 콤마 제거
            let price = Number($("input[name=price]").val().replaceAll(',', ''));

            // validation
            let validateObj = {
                    category : category,
                    certification : certification,
                    attribute : attribute,
                    price : price
                };
            let validate = productMp.validate(validateObj);
            if (!validate) {
                return false;
            }


            let form = $("#frm")[0];
            let formData = new FormData(form);
            formData.set("brand", $("#lay_brand_select li.active").data('idx'));
            formData.set("categoryListStr", JSON.stringify(category));
            formData.set("certificationListStr", JSON.stringify(certification));
            formData.set("attributeListStr", JSON.stringify(attribute));
            formData.set("ingredientListStr", JSON.stringify(ingredient));
            formData.set("healthListStr", JSON.stringify(health));
            formData.set("detail", editor.getData());
            formData.set("price", price);

            // 이미지 row
            if ( thumbnailRow.length > 0) {
                thumbnailRow.forEach((file, idx) => {
                    dataTransfer.items.add(file);
                    formData.append('uploadFile', dataTransfer.files[idx]);
                });
            }

            $.ajax({
                url: '[[${SERVER.shopDomain}]]/v1/product/mp',
                headers: {
                    'Authorization': `Bearer `+$.cookie('accessToken'),
                },
                method: 'POST',
                enctype: 'multipart/form-data',
                data: formData,
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.result) {
                        if (res.result) {
                            toast.alert(res.message);

                            if (res.data.productMpIdx != null && res.data.productMpIdx > 0) {
                                // 상세 페이지 이동
                                location.href="/shop/product/mp/view/" + res.data.productMpIdx;
                            }
                        } else {
                            // ajax exception error
                            toast.alert(res.message);
                        }
                    } else {
                        toast.alert(res.message);
                    }

                },
                error: function (request, status, error) {
                    // filter error
                    toast.alert("code: " + request.status + "<br>" + "message: " + request.responseText + "<br>" + "error :" + error);
                }
            });

        },
        validate: function (_validateObj) {
            // 카테고리
            if (!_validateObj.category.length) {
                alert(text.exception.category);
                return false;
            }
            // 브랜드
            else if ($("#lay_brand_select li.active").data('idx') == undefined) {
                alert(text.exception.brand);
                return false;
            }
            // 상품명
            else if ($("input[name=productName]").val().trim() == "") {
                alert(text.exception.name);
                $("input[name=productName]").val("").focus();
                return false;
            }
            // 가격
            else if (_validateObj.price < 10) {
                alert(text.exception.price);
                $("input[name=price]").val("").focus();
                return false;
            }
            // 썸네일
            else if (!thumbnailRow.length) {
                alert(text.exception.thumbnail);
                return false;
            }
            // 상세
            else if (editor.getData().trim() == '') {
                alert(text.exception.detail);
                return false;
            }
            // 인증정보
            else if ($("input[name=certificationType]:checked").val() == undefined) {
                alert(text.exception.certificationType);
                return false;
            }

            return true;
        },

    }

    // 미리보기 html
    function previewHtml(imageSrc, name, idx) {
        let imgHtml = `
            <div class="image-preview-wrap">
                <div>
                    <input class="preview-data" type="hidden" name="image_path" value="">
                    <a href="javascript:void(0);" onclick="image.delete(this, ${idx});" class="preview-del"></a>
                    <div>
                        <a href="${imageSrc}" target="_blank">
                            <img src="${imageSrc}" style="width:100%; max-width: 300px;">
                        </a>
                    </div>
                </div>
                <div class="file-name">${name}</div>
            </div>
        `;
        return imgHtml;
    }


    $(document).ready(function () {
        /**
         * 인증정보 선택
         */
        $("input[name=certificationType]").on("change", function () {
            if (this.value == 1) {
                $(".certification-wrapper").removeClass("d-none");

                // 인증 유형 초기화
                $("#certification").html("");
                selected.certificationNode(null);
            } else {
                $(".certification-wrapper").addClass("d-none");
            }
        })

        /**
         * 상품정보 제공고시 - '상품 상세설명 참조' 설정
         */
        $("#productReference").on("change", function () {
            if ($("#productReference").is(':checked')) {
                $("input[name=attributeValue]").val(text.placeholder.reference).attr("readonly", true);
            } else {
                $("input[name=attributeValue]").attr("readonly", false);

                if ($("input[name=attributeValue]").val() == text.placeholder.reference) {
                    $("input[name=attributeValue]").val("")
                }
            }
        })
    })

    /**
     * 상품명 글자수 체크(250자)
     */
    $("input[name=productName]").keyup(function () {
        if ($(this).val().length >= 250) {
            $(this).val($(this).val().substring(0, 250));
            $(this).next().children('.current_cnt').text($(this).val().length);
            toast.alert(text.exception.manyCharacters);
            return false;
        }
        $(this).next().children('.current_cnt').text($(this).val().length);
    })


    /**
     * 상품 가격 자릿수 체크 (천만 단위까지 적용)
     */
    $("input[name=price]").keyup(function () {
        // 숫자만 입력
        let value = $(this).val();
        value = value.replace(/[^,0-9]/g,'');

        // 자릿수 체크
        if (value.length >= 10) {
            value = value.substring(0,10);
        }

        if (value.length) {
            // 천 단위 ',' 적용
            value = Number(value.replaceAll(',', ''));
            const formatValue = value.toLocaleString('ko-KR'); //[5]
            $(this).val(formatValue);
        } else {
            $(this).val("");
        }

        return false;
    })


    /**
     * 인증 유형 중복 확인
     * @param _this
     */
    /*let certificationChange = function (_this) {
        $("select[name=certification]").each((idx, _select) => {
            if ($(_this).parents("ul").index() != idx && $(_this).val() == $(_select).val() && $(_select).val() != 0) {
                // 같은 인증유형을 선택하였습니다.
                alert(text.exception.certificationSame);
                $(_this).val(0).prop("selected", true);
            }
        })
    }*/

    /**
     * 상품 성분 중복 확인
     * @param _this
     */
    /*let ingredientChange = function (_this) {
        $("select[name=ingredient]").each((idx, _select) => {
            if ($(_this).parents("ul").index() != idx && $(_this).val() == $(_select).val() && $(_select).val() != 0) {
                // 같은 성분을 선택하였습니다.
                alert(text.exception.ingredientSame);
                $(_this).val(0).prop("selected", true);
            }
        })
    }*/

</script>