<script th:fragment="importJsFragment">
    $(document).ready(function () {
        let page = "[[${page}]]";
        admin.list(page);
    });

    let admin = {
        // 조회
        list: function (page = 1) {
            $("input[name=page]").val(page);

            $.ajax({
                url: '[[${SERVER.currentDomain}]]/v1/admin',
                headers: {
                    'Authorization': `Bearer `+$.cookie('accessToken'),
                },
                cache : true,
                method: 'GET',
                data: $("#frm").serialize(),
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.result) {
                        //페이지 url 갱신 ( 검색 후 새로고침 시 검색값 유지 )
                        if( window.location.search !== "?"+ $("#frm").serialize() ){
                            history.pushState(null, null, "?" + $("#frm").serialize());
                        }

                        // total count
                        $(".totalCount").next().text(res.data.params.pagination.totalRecordCount);

                        if (res.data.list.length > 0) {
                            // list
                            let listTbody = "";
                            $.each(res.data.list, function (index, el) {
                                listTbody +=`
                                <tr>
                                    <td class="text-center">${el.idx}</td>
                                    <td class="text-center"><span class="badge ${el.stateBg}">${el.stateText}</span></td>
                                    <td class="text-center"><a href="javascript:void(0);" onclick="admin.view(${el.idx});">${el.id}</a></td>
                                    <td class="text-center"><span>${el.name}</span></td>
                                    <td class="text-center"><span>Lv ${el.level}</span></td>
                                    <td class="text-center"><span>${el.loginIp}</span></td>
                                    <td class="text-center"><span>${el.lastLoginDate}</span></td>
                                    <td class="text-center"><span>${el.joinIp}</span></td>
                                    <td class="text-center">${el.regDate}</td>
                                </tr>
                            `;
                            });
                            $("#lists tbody").html(listTbody);

                            // paging - common.js
                            pagination("admin", res.data.params.page, res.data.params.pagination);
                            $.cookie("backUrl", $("#frm").serialize());
                        } else {
                            // 결과 없음
                            let listTbody = `<tr><td colspan="9" class="text-center">${res.message}</td></tr>`;
                            $("#lists tbody").html(listTbody);
                            $(".pagination").html("");
                        }

                    } else {
                        // ajax exception error
                        toast.alert(res.message);
                    }
                },
                error: function (request, status, error) {
                    // filter error
                    toast.alert("code: " + request.status + "<br>" + "message: " + request.responseText + "<br>" + "error :" + error);
                }
            });

            return false;
        },
        // 상세
        view: function (idx) {
            location.href = "[[${SERVER.currentDomain}]]/admin/view/" + idx ;
        },
        reset: function () {
            location.href = '[[${SERVER.currentDomain}]]/admin/list';
        },
    }

    //뒤로가기 이벤트 시 실행
    $(window).on('popstate', function(event) {
        window.location = document.location.href;
    });
</script>