<div th:fragment="layerFragment" class="modal-content">
    <!-- 컨텐츠 영역 -->
    <div class="modal-header">
        <h5 class="modal-title" th:text="#{lang.wordcheck.pet.title.regist}"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body" id="memberImageLayer">
        <form id="registForm">
            <div class="col-md-12">
                <div class="row border-bottom pb-3 pt-2">
                    <label class="col-md-4 pt-2 text-center font-weight-bold" th:text="#{lang.wordcheck.word}"></label>
                    <div class="col-md-8 col-sm-9 pt-1">
                        <input class="form-control form-control-sm ml-1" name="word" autocomplete="off" >
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row border-bottom pb-3 pt-2">
                    <label class="col-md-4 pt-2 text-center font-weight-bold" th:text="#{lang.wordcheck.type}"></label>
                    <div class="col-md-8 col-sm-9 pt-1">
                        <select name="type" class="form-select form-select-sm col-12">
                            <option value="1" th:text="#{lang.wordcheck.type.all}"></option>
                            <option value="2" th:text="#{lang.wordcheck.type.pet.name}"></option>
                            <option value="3" th:text="#{lang.wordcheck.type.pet.breed}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row border-bottom pb-3 pt-2">
                    <label class="col-md-4 pt-2 text-center font-weight-bold" th:text="#{lang.wordcheck.memo}"></label>
                    <div class="col-md-8 col-sm-9 pt-1">
                        <input class="form-control form-control-sm ml-1" name="memo" autocomplete="off" >
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="wordcheck_pet.cancel();" th:text="#{lang.wordcheck.button.cancel}"></button>
        <button type="button" class="btn btn-primary" onclick="wordcheck_pet.regist();" th:text="#{lang.wordcheck.button.regist}"></button>
    </div>
    <!-- 컨텐츠 영역 -->
</div>
