<div th:fragment="layerFragment" class="modal-content">
    <!-- 컨텐츠 영역 -->
    <div class="modal-header">
        <h5 class="modal-title" th:text="#{lang.pet.breed.title.modify}"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body" id="memberImageLayer">
        <form id="modifyForm">
            <input type="hidden" name="idx" id="idx" th:value="${breedInfo.idx}">
            <input type="hidden" name="typeIdx" id="typeIdx" th:value="${breedInfo.typeIdx}">
            <div class="col-md-12">
                <div class="row border-bottom pb-3 pt-2">
                    <label class="col-md-4 pt-2 text-center font-weight-bold" th:text="#{lang.pet.type}"></label>
                    <div class="col-md-8 col-sm-9 pt-1">
                        <input class="form-control form-control-sm ml-1" autocomplete="off" th:value="${breedInfo.type}" readonly>
                        <input type="hidden" name="typeIdx" th:value="${breedInfo.type}">
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row border-bottom pb-3 pt-2">
                    <label class="col-md-4 pt-2 text-center font-weight-bold" th:text="#{lang.pet.sort}"></label>
                    <div class="col-md-8 col-sm-9 pt-1">
                        <input class="form-control form-control-sm ml-1" th:value="${breedInfo.sort}" readonly/>
                        <input type="hidden" name="sort"/>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row border-bottom pb-3 pt-2">
                    <label class="col-md-4 pt-2 text-center font-weight-bold" th:text="#{lang.pet.breed}"></label>
                    <div class="col-md-8 col-sm-9 pt-1">
                        <input class="form-control form-control-sm ml-1" autocomplete="off" th:value="${breedInfo.breed}" readonly/>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row border-bottom pb-3 pt-2">
                    <label class="col-md-4 pt-2 text-center font-weight-bold" th:text="#{lang.pet.modiBreed}"></label>
                    <div class="col-md-8 col-sm-9 pt-1">
                        <input class="form-control form-control-sm ml-1"  name="breed" autocomplete="off"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer btn-group-sm">
        <button type="button" class="btn btn-secondary" onclick="petBreed.cancel();" th:text="#{lang.pet.button.cancel}"></button>
        <button type="button" class="btn btn-primary" onclick="petBreed.modify();" th:text="#{lang.common.button.modify}"></button>
    </div>
    <!-- 컨텐츠 영역 -->
</div>
