<script th:fragment="importJsFragment">
    $(document).ready(function () {
        let page = "[[${page}]]";
        favorite.list(page);
    });

    let text = {
    }

    let favorite = {
        // 조회
        list: function (page = 1) {
            if (page != undefined) {
                $("input[name=page]").val(page);
            }
            $.ajax({
                url: '[[${SERVER.currentDomain}]]/v1/favorite',
                cache : true,
                method: 'GET',
                data: $("#frm").serialize(),
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.result) {
                        //페이지 url 갱신 ( 검색 후 새로고침 시 검색값 유지 )
                        if( window.location.search !== "?"+ $("#frm").serialize() ){
                            history.pushState(null, null, "?" + $("#frm").serialize());
                        }
                        // total count
                        $(".totalCount").next().text(res.data.params.pagination.totalRecordCount.toLocaleString());

                        if (res.data.list.length > 0) {
                            // 순서 계산
                            let totalRecordCount = res.data.params.pagination.totalRecordCount;
                            let recordSize = res.data.params.recordSize;

                            // list
                            let listTbody = "";
                            $.each(res.data.list, function (index, el) {
                                // 순서 계산
                                let listNum = totalRecordCount-((page-1) * recordSize + index);

                                listTbody +=`
                                <tr>
                                    <td class="text-center">${listNum.toLocaleString()}</td>
                                    <td class="text-left"><a href="javascript:void(0);" onclick="favorite.view(${el.memberUuid});">${el.memberId}</a></td>
                                    <td class="text-left">${el.memberNick}</td>
                                    <td class="text-center"><span class="badge ${el.memberStateBg}">${el.memberStateText}</span></td>
                                    <td class="text-left"><a href="javascript:void(0);" onclick="favorite.view(${el.favoriteMemberIdx});">${el.favoriteMemberId}</a></td>
                                    <td class="text-left">${el.favoriteMemberNick}</td>
                                    <td class="text-center"><span class="badge ${el.favoriteStateBg}">${el.favoriteStateText}</span></td>
                                    <td class="text-center">${el.favoriteRegdate}</td>
                                 </tr>
                            `;
                            });
                            $("#lists tbody").html(listTbody);

                            // paging - common.js
                            pagination("favorite", res.data.params.page, res.data.params.pagination);
                            $.cookie("backUrl", $("#frm").serialize());
                        } else {
                            // 결과 없음
                            let listTbody = `<tr><td colspan="9" class="text-center">${res.message}</td></tr>`;
                            $("#lists tbody").html(listTbody);
                            $(".pagination").html("");
                        }

                    } else {
                        // ajax exception error
                        toast.alert(res.message);
                    }
                },
                error: function (request, status, error) {
                    // filter error
                    toast.alert("code: " + request.status + "<br>" + "message: " + request.responseText + "<br>" + "error :" + error);
                }
            });
            return false;
        },
        // 상세
        view: function (idx) {
            location.href = '[[${SERVER.currentDomain}]]/members/view/' + idx ;
        },
        reset: function () {
            location.href = '[[${SERVER.currentDomain}]]/favorite';
        },
    }

    //뒤로가기 이벤트 시 실행
    $(window).on('popstate', function(event) {
        window.location = document.location.href;
    });
</script>