<script th:fragment="importJsFragment">
    $(document).ready(function () {
        let page = "[[${page}]]";
        member.list(page);
    });

    let member = {
        // 조회
        list: function (page = 1) {
            if (page != undefined) {
                $("input[name=page]").val(page);
            }
            $.ajax({
                url: '[[${SERVER.currentDomain}]]/v1/member/list',
                headers: {
                    'Authorization': `Bearer `+$.cookie('accessToken'),
                },
                cache : true,
                method: 'GET',
                data: $("#frm").serialize(),
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.result) {
                        //페이지 url 갱신 ( 검색 후 새로고침 시 검색값 유지 )
                        if( window.location.search !== "?"+ $("#frm").serialize() ){
                            history.pushState(null, null, "?" + $("#frm").serialize());
                        }
                        // total count
                        $(".totalCount").next().text(res.data.params.pagination.totalRecordCount.toLocaleString());
                        if (res.data.list.length > 0) {
                            // list
                            let listTbody = "";
                            $.each(res.data.list, function (index, el) {
                                // 회원 뱃지값 추가
                                var badgeEmo = "";
                                if(el.badge == "Y"){
                                    badgeEmo = " <i class=\"fa-solid fa-check\"></i>";
                                }
                                listTbody +=`
                                <tr>
                                    <td class="text-center">${el.idx.toLocaleString()}</td>
                                    <td class="text-center"><span class="badge ${el.isDelBg}">${el.isDelText}</span></td>
                                    <td class="text-center">${el.simpleType}</td>
                                    <td class="text-center"><a href="javascript:void(0);" onclick="member.view(${el.idx});">${el.id}</a></td>
                                    <td class="text-center">${el.nick}${badgeEmo}</td>
                                    <td class="text-center">${el.name}</td>
                                    <td class="text-center">${el.genderText}</td>
                                    <td class="text-center">${el.phone||'-'}</td>
                                    <td class="text-center">${el.birth}</td>
                                    <td class="text-center">${el.regDate}</td>
                                    <td class="text-center">${el.lastLogin}</td>
                                </tr>
                            `;
                            });
                            $("#lists tbody").html(listTbody);

                            // paging - common.js
                            pagination("member", res.data.params.page, res.data.params.pagination);
                            $.cookie("backUrl", $("#frm").serialize());
                        } else {
                            // 결과 없음
                            let listTbody = `<tr><td colspan="12" class="text-center">${res.message}</td></tr>`;
                            $("#lists tbody").html(listTbody);
                            $(".pagination").html("");
                        }

                    } else {
                        // ajax exception error
                        toast.alert(res.message);
                    }
                },
                error: function (request, status, error) {
                    // filter error
                    toast.alert("code: " + request.status + "<br>" + "message: " + request.responseText + "<br>" + "error :" + error);
                }
            });
            return false;
        },
        // 엑셀
        excel: function () {
            location.href = '[[${SERVER.currentDomain}]]/v1/member/excel?'+$("#frm").serialize();
        },
        // 상세
        view: function (memberIdx) {
            location.href = '[[${SERVER.currentDomain}]]/members/view/' + memberIdx ;
        },
        reset: function () {
            location.href = '[[${SERVER.currentDomain}]]/members/list';
        },
    }

    //뒤로가기 이벤트 시 실행
    $(window).on('popstate', function(event) {
        window.location = document.location.href;
    });
</script>