<script th:fragment="importJsFragment">
    $(document).ready(function () {
        let page = "[[${page}]]";
        restrain_member.list(page);
    });

    let text = {
        delRestrainButton: "[[#{lang.restrain.member.button.delete}]]",       // 제재 삭제
        modiRestrainButton: "[[#{lang.restrain.member.button.modify}]]",      // 제재 수정
        delRestrainConfirm: "[[#{lang.restrain.member.confirm.delete}]]",     // 제재내역을 삭제 하시겠습니까?
    }

    let adminLevel = "[[${dataSet.adminLevel}]]";
    let restrain_member = {
        // 조회
        list: function (page = 1) {
            if (page != undefined) {
                $("input[name=page]").val(page);
            }
            $.ajax({
                url: '[[${SERVER.currentDomain}]]/v1/restrain/member',
                headers: {
                    'Authorization': `Bearer ` + $.cookie('accessToken'),
                },
                cache: true,
                method: 'GET',
                data: $("#frm").serialize(),
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.result) {
                        //페이지 url 갱신 ( 검색 후 새로고침 시 검색값 유지 )
                        if (window.location.search !== "?" + $("#frm").serialize()) {
                            history.pushState(null, null, "?" + $("#frm").serialize());
                        }
                        // total count
                        $(".totalCount").next().text(res.data.params.pagination.totalRecordCount.toLocaleString());

                        if (res.data.list.length > 0) {
                            // 순서 계산
                            let totalRecordCount = res.data.params.pagination.totalRecordCount;
                            let recordSize = res.data.params.recordSize;

                            // list
                            let listTbody = "";
                            $.each(res.data.list, function (index, el) {
                                // 순서 계산
                                let listNum = totalRecordCount - ((page - 1) * recordSize + index);

                                listTbody += `
                                <tr>
                                    <td class="text-center">${listNum.toLocaleString()}</td>
                                    <td class="text-left"><a href="javascript:void(0);" onclick="restrain_member.view(${el.memberIdx});">${el.id}</a></td>
                                    <td class="text-left">${el.nick}</td>
                                    <td class="text-center">${el.restrainType}</td>
                                    <td class="text-center">${el.title}</td>
                                    <td class="text-center">${el.startDate}</td>
                                    <td class="text-center">${el.endDate}</td>
                                    <td class="text-left">${el.restrainName}</td>
                                    <td class="text-center"><span class="badge ${el.stateDateBg}">${el.stateDateText}</span></td>
                                    <td class="text-center"><span class="badge ${el.stateBg}">${el.stateText}</span></td>
                                    <td class="text-center">${el.adminId}</td>
                                    <td class="text-center">${el.regDate}</td>
                                    <td class="text-center">`;
                                if ([[${dataSet.adminLevel}]] <= 8) {
                                    listTbody += `<button type="button" class="btn btn-sm btn-danger" onclick="restrain_member.delete(${el.idx})">${text.delRestrainButton}</button>`;
                                }
                                if ([[${dataSet.adminLevel}]] == 9) {
                                    listTbody += `<button type="button" class="btn btn-sm btn-warning" onclick="restrain_member.modify(${el.idx})">${text.modiRestrainButton}</button>`;
                                }
                                listTbody += ` </td>
                                </tr> `;
                            });
                            $("#lists tbody").html(listTbody);

                            // paging - common.js
                            pagination("restrain_member", res.data.params.page, res.data.params.pagination);
                            $.cookie("backUrl", $("#frm").serialize());
                        } else {
                            // 결과 없음
                            let listTbody = `<tr><td colspan="13" class="text-center">${res.message}</td></tr>`;
                            $("#lists tbody").html(listTbody);
                            $(".pagination").html("");
                        }

                    } else {
                        // ajax exception error
                        toast.alert(res.message);
                    }
                },
                error: function (request, status, error) {
                    // filter error
                    toast.alert("code: " + request.status + "<br>" + "message: " + request.responseText + "<br>" + "error :" + error);
                }
            });
            return false;
        },
        // 엑셀
        excel: function () {
            location.href = '[[${SERVER.currentDomain}]]/v1/restrain/member/excel?' + $("#frm").serialize();
        },
        // 삭제
        delete: function (idx) {
            let formData = new FormData();
            formData.set("idx", idx);

            if (confirm(text.delRestrainConfirm)) {
                $.ajax({
                    url: '[[${SERVER.memberDomain}]]/v1/restrain/member/',
                    headers: {
                        'Authorization': `Bearer ` + $.cookie('accessToken'),
                    },
                    method: 'DELETE',
                    data: formData,
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    success: function (res) {
                        if (res.result) {
                            if (res.data != undefined) {
                                toast.alert(res.message);
                                location.reload();
                            } else {
                                // 삭제 실패
                                toast.alert(res.message);
                            }
                        } else {
                            // ajax exception error
                            toast.alert(res.message);
                        }
                    },
                    error: function (request, status, error) {
                        // filter error
                        toast.alert("code: " + request.status + "<br>" + "message: " + request.responseText + "<br>" + "error :" + error);
                    }
                });
            }
            return false;
        },
        // 회원 상세
        view: function (idx) {
            location.href = '[[${SERVER.currentDomain}]]/members/view/' + idx;
        },
        modify: function (idx) {
            js_popup('[[${SERVER.currentDomain}]]/restrain/members/modify/' + idx, 'restrain_members_modify', '600', '500');
        },
        reset: function () {
            location.href = '[[${SERVER.currentDomain}]]/restrain/members/list';
        },
    }

    //뒤로가기 이벤트 시 실행
    $(window).on('popstate', function (event) {
        window.location = document.location.href;
    });
</script>