<script type="text/javascript" th:fragment="importJsFragment">
    $(document).ready(function () {
        calendar.init(); // 날짜 설정
    });

    let idx; // 휴무일 idx

    const text = {
        deleteConfirm : '[[#{lang.admin.confirm.delete.holiday}]]',     // 공휴일을 삭제하시겠습니까?
        modifyConfirm : '[[#{lang.admin.confirm.modify}]]',             // 수정하시겠습니까?
        essentialValue : '[[#{lang.admin.exception.essential.value}]]', // 필수값을 입력해주세요.
    }

    const calendar = {
        // 날짜 초기화
        init : () => {
            let startDate = '[[${holidayInfo.startDate}]]';
            let endDate = '[[${holidayInfo.endDate}]]';

            let today = new Date(); // 오늘 날짜
            today= moment(today).add(1, 'days').format('YYYY-MM-DD'); // 오늘 날짜 이후만 선택 가능

            // 등록 페이지 호출전 드레그된 날짜가 있는 경우
            if (!check.isEmpty(startDate) && !check.isEmpty(endDate)) {
                // MODEL로 넘겨 받은 값 set
                $('input[name=startDate]').val(startDate);
                $('input[name=endDate]').val(endDate);

                $('input[name=startDate]').attr('min', today);   // 시작 날짜는 오늘 이후 날짜 min 설정
                $('input[name=endDate]').attr('min', startDate);

            } else {
                $('input[name=startDate]').attr('min', today);  // 시작 날짜는 오늘 이후 날짜 min 설정
                $('input[name=endDate]').attr('min', today);
            }

            let name = '[[${holidayInfo.name}]]';
            $('input[name=name]').val(name)

            idx ='[[${holidayInfo.idx}]]'; // 휴무일 idx 초기화
        },
        // 휴무일 수정
        modify : () => {
            // 필수값 체크
            if (!check.validate()) {
                return false;
            }

            // 수정하시겠습니까?
            if (!confirm(text.modifyConfirm)) {
                return false;
            }

            let form = $("#frm")[0];
            let formData = new FormData(form);

            $('#deleteBtn').prop('disabled', true);
            $('#modifyBtn').prop('disabled', true);

            $.ajax({
                url: '[[${SERVER.shopDomain}]]/v1/partner/holidays/' + idx,
                headers: {
                    'Authorization': `Bearer `+$.cookie('accessToken'),
                },
                method: 'PUT',
                data: formData,
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.result === true) {
                        toast.alert(res.message);

                        setTimeout(() => {
                            window.close(); // 팝업창 닫기
                            opener.calendar.list();
                        }, 1000);
                    } else {
                        toast.alert(res.message);
                        $('#deleteBtn').prop('disabled', false);
                        $('#modifyBtn').prop('disabled', false);
                    }
                },
                error: function (request, status, error) {
                    // filter error
                    toast.alert("code: " + request.status + "<br>" + "message: " + request.responseText + "<br>" + "error :" + error);
                }
            });
        },
        // 휴무일 삭제
        delete : () => {

            if (!confirm(text.deleteConfirm)) {
                return false;
            }

            $('#deleteBtn').prop('disabled', true);
            $('#modifyBtn').prop('disabled', true);

            $.ajax({
                url: '[[${SERVER.shopDomain}]]/v1/partner/holidays/' + idx,
                headers: {
                    'Authorization': `Bearer `+$.cookie('accessToken'),
                },
                method: 'DELETE',
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.result === true) {
                        toast.alert(res.message);

                        setTimeout(() => {
                            window.close(); // 팝업창 닫기
                            opener.calendar.list();
                        }, 1000);
                    } else {
                        toast.alert(res.message);
                        $('#deleteBtn').prop('disabled', false);
                        $('#modifyBtn').prop('disabled', false);
                    }
                },
                error: function (request, status, error) {
                    // filter error
                    toast.alert("code: " + request.status + "<br>" + "message: " + request.responseText + "<br>" + "error :" + error);
                }
            });
        },
        // 팝업 닫기
        closeBtn : () => {
            window.close();
        },
        // 날짜 체크
        checkDate : () => {
            let startDate = $('input[name=startDate]').val();
            $('input[name=endDate]').attr('min', startDate);
        },
    }

    // 체크 오브젝트
    let check = {
        // 빈값 체크
        isEmpty: (value) => {
            if (
                typeof value === 'undefined' ||
                value === null ||
                value.trim() === '' ||
                value === 'null' ||
                value.length === 0
            ) {
                return true;
            } else {
                return false;
            }
        },
        // 유효성 체크
        validate : () => {
            let name = $('input[name=name]').val();
            let description = $('textarea[name=description]').val();
            if (check.isEmpty(name) || check.isEmpty(description)) {
                toast.alert(text.essentialValue);
                return false;
            }
            return true;
        }
    }

</script>