<th:block layout:decorate="~{common/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
    <div layout:fragment="content" class="col-lg-12 mt-3">
        <!-- 컨텐츠 영역 -->
        <div class="card">
            <div class="card-header">
                <h5 class="font-weight-bold text-primary float-left" th:text="#{lang.comment.history.list.title}"></h5>
            </div>
            <div class="card-body row">
                <!-- 리스트 -->
                <div class="col-12">
                    <!-- 검색 폼 -->
                    <form id="frm" class="d-flex bd-highlight gx-3" onsubmit="comment.list(1); return false;" accept-charset="utf-8">
                        <table class="table m-0">
                            <tbody>
                            <tr>
                                <td>
                                    <div class="row p-0">
                                        <div class="col-auto input-group input-group-sm m-1 p-0 col-3">
                                            <!-- 날짜 검색 -->
                                            <select name="searchDateType" class="form-select form-select-sm">
                                                <option value=""  th:text="#{lang.member.date}"></option>
                                                <option value="commentRegDate" th:text="#{lang.comment.regdate.fullname}" th:selected="${search.searchDateType} == 'commentRegDate'"></option>
                                                <option value="contentsRegDate" th:text="#{lang.contents.regdate.fullname}" th:selected="${search.searchDateType} == 'contentsRegDate'"></option>
                                            </select>
                                            <input type="date" class="form-control form-control-sm ml-1" name="searchStartDate" th:value="${param.searchStartDate}">
                                            &nbsp;&nbsp;<h5>~</h5> &nbsp;&nbsp;
                                            <input type="date" class="form-control form-control-sm ml-1" name="searchEndDate" th:value="${param.searchEndDate}">
                                        </div>
                                    </div>
                                    <div class="row p-0">
                                        <div class="col-auto input-group input-group-sm m-1 p-0 col-1">
                                            <!-- 정렬 -->
                                            <select name="searchSort" class="form-select form-select-sm">
                                                <option value="recent" th:text="#{lang.comment.sort.recent}" th:selected="${search.searchSort} == 'recent'"></option>
                                                <option value="comment" th:text="#{lang.comment.sort.comment}" th:selected="${search.searchSort} == 'comment'"></option>
                                                <option value="like" th:text="#{lang.comment.sort.like}" th:selected="${search.searchSort} == 'like'"></option>
                                            </select>
                                        </div>
                                        <div class="col-auto input-group input-group-sm m-1 p-0 col-3">
                                            <select name="searchType" class="form-control form-select col-5">
                                                <option value="" th:text="#{lang.comment.search}" ></option>
                                                <option th:value="id" th:text="#{lang.comment.memberId}" th:selected="${search.searchType} == 'id'"></option>
                                                <option th:value="nick" th:text="#{lang.comment.memberNick}" th:selected="${search.searchType} == 'nick'"></option>
                                                <option th:value="contents" th:text="#{lang.comment.contents}" th:selected="${search.searchType} == 'contents'"></option>
                                                <option th:value="contentsIdx" th:text="#{lang.comment.contents.idx}" th:selected="${search.searchType} == 'contentsIdx'"></option>
                                                <option th:value="commentIdx" th:text="#{lang.comment.comment.idx}" th:selected="${search.searchType} == 'commentIdx'"></option>
                                            </select>
                                            <!-- 검색어 -->
                                            <input type="text" name="searchWord" class="form-control form-control-sm text-center" th:value="${search.searchWord}" th:placeholder="#{lang.comment.placeholder.search.word}">
                                            <!-- 현재 페이지 -->
                                            <input type="hidden" id="page" name="page" value="1">
                                        </div>
                                        <div class="col-auto input-group input-group-sm m-1 p-0 col-1">
                                            <!-- 상태 -->
                                            <select name="state" class="form-select form-select-sm col-12">
                                                <option value=""  th:text="#{lang.comment.state}"></option>
                                                <option value="0" th:text="#{lang.comment.state.delete}" th:selected="${search.state} == '0'"></option>
                                                <option value="1" th:text="#{lang.comment.state.normal}" th:selected="${search.state} == '1'"></option>
                                                <option value="9" th:text="#{lang.comment.state.restrain}" th:selected="${search.state} == '9'"></option>
                                            </select>
                                        </div>
                                        <div class="col-auto input-group input-group-sm m-1 p-0 col-1">
                                            <!-- 보기 -->
                                            <select name="recordSize" class="form-select form-select-sm">
                                                <option value="10" th:text="#{lang.common.view.ten}" th:selected="${search.recordSize} == 10"></option>
                                                <option value="30" th:text="#{lang.common.view.thirty}" th:selected="${search.recordSize} == 30"></option>
                                                <option value="50" th:text="#{lang.common.view.fifty}" th:selected="${search.recordSize} == 50"></option>
                                                <option value="100" th:text="#{lang.common.view.hundred}" th:selected="${search.recordSize} == 100"></option>
                                            </select>
                                        </div>
                                        <div class="col-auto btn-group btn-group-sm m-1 p-0">
                                            <!-- 검색버튼 -->
                                            <button type="button" id="searchBtn" th:text="#{lang.comment.button.search}" onclick="comment.list(1);" class="btn btn-success pr-3 pl-3"></button>
                                            <button type="button" class="btn btn-outline-success" onclick="comment.reset();"><i class="fa-solid fa-rotate-left"></i></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-inline p-0">
                                        <div class="float-left form-control-sm">
                                            <strong class="totalCount" th:text="#{lang.comment.search.result} + ' : ' "></strong> <span></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <!-- //검색 폼 -->

                    <!-- list -->
                    <table class="table table-hover" id="lists">
                        <thead class="table-dark">
                        <tr class="text-center">
                            <th scope="col" th:text="#{lang.comment.idx}" class="text-center"></th>
                            <th scope="col" th:text="#{lang.contents.thumbnail}" class="text-center"></th>
                            <th scope="col" th:text="#{lang.contents.state.fullname}" class="text-center"></th>
                            <th scope="col" th:text="#{lang.comment.contents.nick}" class="text-center"></th>
                            <th scope="col" th:text="#{lang.comment.memberId}" class="text-center"></th>
                            <th scope="col" th:text="#{lang.comment.memberNick}" class="text-center"></th>
                            <th scope="col" th:text="#{lang.comment.state}" class="text-center" ></th>
                            <th scope="col" th:text="#{lang.comment.contents}" class="text-center" ></th>
                            <th scope="col" th:text="#{lang.comment.division}" class="text-center" ></th>
                            <th scope="col" th:text="#{lang.comment.like.cnt}" class="text-center" ></th>
                            <th scope="col" th:text="#{lang.comment.report.cnt}" class="text-center" ></th>
                            <th scope="col" th:text="#{lang.comment.cnt}" class="text-center" ></th>
                            <th scope="col" th:text="#{lang.comment.modify.date}" class="text-center" ></th>
                            <th scope="col" th:text="#{lang.comment.regdate}" class="text-center"></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <th:block layout:fragment="paging">
                        <div class="col-md-12 d-flex flex-row-reverse my-3">
                            <ul class="pagination" style="font-size: 12px;">
                            </ul>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
        <!-- 컨텐츠 영역 -->
    </div>
</th:block>
