<script th:fragment="importJsFragment">
    $(document).ready(function () {
        let page = "[[${page}]]";
        comment.list(page);
    });

    let text = {
        likeTitle : "[[#{lang.comment.title.like.list}]]",         // 좋아요 한 회원 제목
        reportTitle : "[[#{lang.comment.title.report.list}]]",       // 신고한 회원 제목
        commentsTitle : "[[#{lang.comment.title.comments.list}]]", // 답글 리스트 제목
        memberId : "[[#{lang.member.id}]]",                         // 아이디
        memberNick : "[[#{lang.member.nick}]]",                     // 닉네임
        contents : "[[#{lang.comment.contents}]]",                 // 내용
        commentRegDate: "[[#{lang.comment.regdate}]]",            // 등록일
    }

    let comment = {
        // 조회
        list: function (page = 1) {
            if (page != undefined) {
                $("input[name=page]").val(page);
            }
            $.ajax({
                url: '[[${SERVER.currentDomain}]]/v1/comment',
                headers: {
                    'Authorization': `Bearer ` + $.cookie('accessToken'),
                },
                cache : true,
                method: 'GET',
                data: $("#frm").serialize(),
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.result) {
                        //페이지 url 갱신 ( 검색 후 새로고침 시 검색값 유지 )
                        if( window.location.search !== "?"+ $("#frm").serialize() ){
                            history.pushState(null, null, "?" + $("#frm").serialize());
                        }
                        // total count
                        $(".totalCount").next().text(res.data.params.pagination.totalRecordCount.toLocaleString());
                        if (res.data.list.length > 0) {
                            // 순서 계산
                            let totalRecordCount = res.data.params.pagination.totalRecordCount;
                            let recordSize = res.data.params.recordSize;

                            // list
                            let listTbody = "";
                            $.each(res.data.list, function (index, el) {
                                // 순서 계산
                                let listNum = totalRecordCount-((page-1) * recordSize + index);

                                if (el.commentCnt == null) {
                                    el.commentCnt = ' ';
                                }

                                listTbody +=`
                                <tr>
                                    <td class="text-center">${el.idx}</td>
                                    <td class="text-center"><a href="javascript:void(0);" onclick="comment.contentsDetail(${el.contentsIdx});"><img src="${el.contentsThumbnailUrl}" style="max-height:100px; max-width:200px"></a></td>
                                    <td class="text-center"><span class="badge ${el.contentsStateBg}">${el.contentsStateText}</span></td>
                                    <td class="text-center">${el.contentsMemberNick}</td>
                                    <td class="text-center"><a href="javascript:void(0);" onclick="comment.view(${el.memberIdx});">${el.memberId}</a></td>
                                    <td class="text-center">${el.memberNick}</td>
                                    <td class="text-center"><span class="badge ${el.stateBg}">${el.stateText}</span></td>
                                    <td class="text-center inline-block text-truncate" style="max-width: 100px;"><a href="javascript:void(0);" onclick="comment.commentView(${el.idx});">${cleanXSS(el.contents)}</a></td>
                                    <td class="text-center">${el.division}</td>
                                    <td class="text-center"><a href="javascript:void(0);" onclick="comment.layer(${el.idx},'likeMembers')">${el.likeCnt}</a></td>
                                    <td class="text-center"><a href="javascript:void(0);" onclick="comment.layer(${el.idx},'reportMembers')">${el.reportCnt|0}</a></td>
                                    <td class="text-center"><a href="javascript:void(0);" onclick="comment.layer(${el.idx},'commentsMembers')">${el.commentCnt}</a></td>
                                    <td class="text-center">${el.modiDate}</td>
                                    <td class="text-center">${el.regDate}</td>
                                </tr>
                            `;
                            });

                            $("#lists tbody").html(listTbody);

                            // paging - common.js
                            pagination("comment", res.data.params.page, res.data.params.pagination);
                            $.cookie("backUrl", $("#frm").serialize());
                        } else {
                            // 결과 없음
                            let listTbody = `<tr><td colspan="14" class="text-center">${res.message}</td></tr>`;
                            $("#lists tbody").html(listTbody);
                            $(".pagination").html("");
                        }

                    } else {
                        // ajax exception error
                        toast.alert(res.message);
                    }
                },
                error: function (request, status, error) {
                    // filter error
                    toast.alert("code: " + request.status + "<br>" + "message: " + request.responseText + "<br>" + "error :" + error);
                }
            });
            return false;
        },
        // 상세
        view: function (memberIdx) {
            location.href = '[[${SERVER.currentDomain}]]/members/view/' + memberIdx ;
        },
        commentView: function (idx) {
            js_popup('[[${SERVER.currentDomain}]]/comment/view/' + idx, 'comment_view', '600', '500');
        },
        reset: function () {
            location.href = '[[${SERVER.currentDomain}]]/comment/list';
        },
        contentsDetail: function (contentsIdx) {
            js_popup('[[${SERVER.currentDomain}]]/contents/view/' + contentsIdx, 'contents_view', '1200', '1000');
        },
        // 모달창 노출
        layer : function(idx, searchType){
            myModal = new bootstrap.Modal($('#layer_dialog_lg'), {
                keyboard: false
            });
            // load 비동기, call back 함수로 다음 작업 명시
            $('#section_dialog_lg').load("[[${SERVER.currentDomain}]]/contents/member-layer", () =>{

                if (searchType == "likeMembers") {
                    $(".modal-title").text(text.likeTitle);
                    likeMembers.list(1, idx);
                } else if (searchType == "reportMembers") {
                    $(".modal-title").text(text.reportTitle);
                    reportMembers.list(1, idx);
                } else if(searchType == "commentsMembers") {
                    $(".modal-title").text(text.commentsTitle);

                    let thead = `
                        <th scope="col" class="text-center">${text.memberId}</th>
                        <th scope="col" class="text-center">${text.memberNick}</th>
                        <th scope="col" class="text-center">${text.contents}</th>
                        <th scope="col" class="text-center">${text.commentRegDate}</th>`

                    $("#memberListLayer thead tr").html(thead);
                    commentsMembers.list(1, idx);
                }
            });
            myModal.show($('#section_dialog_lg'));
        },
    }

    // 좋아요 한 회원 리스트 모달
    let likeMembers ={
        list : (page, idx) =>{
            memberList(page, idx, "likeMembers");
        }
    }
    // 댓글 작성한 회원 리스트 모달
    let commentsMembers = {
        list : (page, idx) =>{
            memberList(page, idx, "commentsMembers");
        }
    }
    // 신고한 회원 리스트 모달
    let reportMembers = {
        list : (page, idx) => {
            memberList(page, idx, "reportMembers")
        },
        // 신고 페이지 이동
        view: function (memberId) {
            location.href = `[[${SERVER.currentDomain}]]/report/comment/list?searchTargetType=reporter&searchType=id&searchWord=${memberId}`;
        },
    }

    // 회원 리스트 공통 함수
    let memberList = (page, idx, type) =>{

        $.ajax({
            url: `[[${SERVER.currentDomain}]]/v1/comment/${idx}/members?searchType=${type}&page=${page}`,
            headers: {
                'Authorization': `Bearer ` + $.cookie('accessToken'),
            },
            cache: true,
            method: 'GET',
            dataType: 'json',
            processData: false,
            contentType: false,
            success: function (res) {

                if (res.result) {
                    if (res.data.list.length > 0) {

                        let listTbody = "";
                        $.each(res.data.list, function (index, el) {
                            if (type == "commentsMembers") {
                                listTbody += `
                                <tr>
                                    <td class="text-center"><a href="javascript:void(0);" onclick="comment.view('${el.uuid}');">${el.id}<a/></td>
                                    <td class="text-center">${el.nick}</td>
                                    <td class="text-center">${el.contents}</td>
                                    <td class="text-center">${el.regDate}</td>
                                 </tr>
                                `;
                            } else if (type == "reportMembers") {
                                listTbody += `
                                <tr>
                                    <td class="text-center"><a href="javascript:void(0);" onclick="reportMembers.view('${el.id}');">${el.id}<a/></td>
                                    <td class="text-center">${el.nick}</td>
                                    <td class="text-center">${el.regDate}</td>
                                 </tr>
                                `;
                            } else {
                                listTbody += `
                                <tr>
                                    <td class="text-center"><a href="javascript:void(0);" onclick="comment.view('${el.uuid}');">${el.id}<a/></td>
                                    <td class="text-center">${el.nick}</td>
                                    <td class="text-center">${el.regDate}</td>
                                 </tr>
                                `;
                            }

                        });

                        $("#memberListLayer > tbody").html(listTbody);

                        // paging - 커스텀
                        paginationById("#memberPagination", idx, type, res.data.params.page, res.data.params.pagination);
                    } else {
                        // 결과 없음
                        let listTbody = `<tr><td colspan="9" class="text-center">${res.message}</td></tr>`;
                        $("#memberListLayer tbody").html(listTbody);
                        $("#memberPagination").html("");
                    }
                }
            },
            error: function (request, status, error) {
                // filter error
                toast.alert("code: " + request.status + "<br>" + "message: " + request.responseText + "<br>" + "error :" + error);
            }
        });
    }

    // XSS 공격 방지 - html 태그 이스케이프 처리
    function cleanXSS(content) {

        let convertText = content
            .replace(/</g, "&lt;") // 꺽새 변환
            .replace(/>/g, "&gt;") // 꺽새 변환
            .replace("\\(", "&#40;") // 괄호 변환
            .replace("\\)", "&#41;") // 괄호 변환
            .replace(/\"/g, "&quot;") // 큰따옴표 변환
            .replace(/\'/g, "&#39;") // 작은따옴표 변환
            .replace(/\n/g, "<br />"); // <br> 태그 변환

        return convertText;
    }

    //뒤로가기 이벤트 시 실행
    $(window).on('popstate', function(event) {
        window.location = document.location.href;
    });
</script>