<div th:fragment="layerFragment" class="modal-content">
    <!-- 컨텐츠 영역 -->
    <div class="modal-header">
        <h5 class="modal-title" th:text="#{lang.push.admin.image.add}"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body" id="adminPushImageLayer">
        <div class="col-md-12">
            <div class="row border-bottom pb-3 pt-2">
                <label class="col-md-4 pt-2 text-center font-weight-bold" th:text="#{lang.push.admin.image.attach}"></label>
                <div class="col-md-8 col-sm-9 pt-1">
                    <label class="py-1 px-3 rounded-2">
                        <input type="file" name="fileData" accept="image/png,image/jpg,image/jpeg" onchange="pushImage.imageChange();" th:text="#{lang.push.admin.image.file}">
                    </label>
                </div>
            </div>
            <div class="row border-bottom pb-3 pt-2">
                <label class="col-md-4 pt-2 text-center font-weight-bold" th:text="#{lang.push.admin.image.preview}"></label>
                <div class="col-md-8 pt-2" id="preview">
                    <span th:text="#{lang.push.admin.placeholder.file.no}"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="pushImage.cancel();" th:text="#{lang.push.admin.button.cancel}"></button>
        <button type="button" class="btn btn-primary" onclick="pushImage.add();" th:text="#{lang.push.admin.button.regist}"></button>
    </div>
    <!-- 컨텐츠 영역 -->
</div>
