<th:block layout:decorate="~{common/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
    <div layout:fragment="content" class="col-lg-12 mt-3">
        <!-- 컨텐츠 영역 -->
        <div class="card">
            <div class="card-header">
                <h5 class="font-weight-bold text-primary float-left" th:text="#{lang.restrain.partner.title.list}"></h5>
            </div>
            <div class="card-body row">
                <!-- 리스트 -->
                <div class="col-12">
                    <!-- 검색 폼 -->
                    <form id="frm" class="d-flex bd-highlight gx-3" onsubmit="restrain_partner.list(1); return false;" accept-charset="utf-8">
                        <table class="table m-0">
                            <tbody>
                            <tr>
                                <td>
                                    <div class="row p-0">
                                        <div class="col-auto input-group input-group-sm m-1 p-0 col-3">
                                            <!-- 날짜 검색 -->
                                            <select name="searchDateType" class="form-select form-select-sm col-4" >
                                                <option value=""  th:text="#{lang.restrain.partner.date}"></option>
                                                <option value="regDate" th:text="#{lang.restrain.partner.reg_date}" th:selected="${search.searchDateType} == 'regdate'"></option>
                                                <option value="startDate" th:text="#{lang.restrain.partner.start_date}" th:selected="${search.searchDateType} == 'startDate'"></option>
                                                <option value="endDate" th:text="#{lang.restrain.partner.end_date}" th:selected="${search.searchDateType} == 'endDate'"></option>
                                            </select>
                                            <input type="date" class="form-control form-control-sm ml-1"  name="searchStartDate" th:value="${param.searchStartDate}">
                                            &nbsp;&nbsp;<h5>~</h5> &nbsp;&nbsp;
                                            <input  type="date"  class="form-control form-control-sm ml-1" name="searchEndDate" th:value="${param.searchEndDate}">
                                        </div>
                                    </div>
                                    <div class="row p-0">
                                        <div class="col-auto input-group input-group-sm m-1 p-0 col-2">
                                            <!-- 아이디/닉네임 -->
                                            <select name="searchType" class="form-control form-select" >
                                                <option value="" th:text="#{lang.restrain.partner.search}" ></option>
                                                <option th:value="idx" th:text="#{lang.restrain.partner.idx}" th:selected="${search.searchType} == 'idx'"></option>
                                                <option th:value="id" th:text="#{lang.restrain.partner.id}" th:selected="${search.searchType} == 'id'"></option>
                                                <option th:value="companyName" th:text="#{lang.restrain.partner.company_name}" th:selected="${search.searchType} == 'companyName'"></option>
                                            </select>
                                            <!-- 검색어 -->
                                            <input type="text" name="searchWord" class="form-control form-control-sm text-center" th:value="${search.searchWord}" th:placeholder="#{lang.restrain.partner.placeholder.search.word}">
                                            <!-- 현재 페이지 -->
                                            <input type="hidden" id="page" name="page" value="1">
                                        </div>
                                        <div class="col-auto input-group input-group-sm m-1 p-0 col-1">
                                            <!-- 상태 -->
                                            <select name="state" class="form-select form-select-sm col-12">
                                                <option value=""  th:text="#{lang.restrain.partner.state}"></option>
                                                <option value="1" th:text="#{lang.restrain.partner.state.normal}" th:selected="${search.state} == '1'"></option>
                                                <option value="0" th:text="#{lang.restrain.partner.state.stop}" th:selected="${search.state} == '0'"></option>
                                            </select>
                                        </div>
                                        <div class="col-auto input-group input-group-sm m-1 p-0 col-1">
                                            <!-- 제재 타입 -->
                                            <select name="type" class="form-select form-select-sm col-12">
                                                <option value=""  th:text="#{lang.restrain.partner.type}"></option>
                                                <th:block th:each="val: ${dataSet.typeList}">
                                                    <option th:value="${val.idx}" th:text="${val.type}"></option>
                                                </th:block>
                                            </select>
                                        </div>
                                        <div class="col-auto input-group input-group-sm m-1 p-0 col-1">
                                            <!-- 보기 -->
                                            <select name="recordSize" class="form-select form-select-sm col-12">
                                                <option value="10" th:text="#{lang.common.view.ten}" th:selected="${search.recordSize} == 10"></option>
                                                <option value="30" th:text="#{lang.common.view.thirty}" th:selected="${search.recordSize} == 30"></option>
                                                <option value="50" th:text="#{lang.common.view.fifty}" th:selected="${search.recordSize} == 50"></option>
                                                <option value="100" th:text="#{lang.common.view.hundred}" th:selected="${search.recordSize} == 100"></option>
                                            </select>
                                        </div>
                                        <div class="col-auto btn-group btn-group-sm m-1 p-0">
                                            <!-- 검색버튼 -->
                                            <button type="button" id="searchBtn" th:text="#{lang.restrain.partner.button.search}" onclick="restrain_partner.list(1);" class="btn btn-success pr-3 pl-3"></button>
                                            <button type="button" class="btn btn-outline-success" onclick="restrain_partner.reset();"><i class="fa-solid fa-rotate-left"></i></button>
                                        </div>
                                        <div class="text-right col">
                                            <button type="button" id="btnRegist" onclick="restrain_partner.excel();" class="btn btn-sm btn-primary" th:text="#{lang.restrain.partner.button.excel}"></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-inline p-0">
                                        <div class="float-left form-control-sm">
                                            <strong class="totalCount" th:text="#{lang.restrain.partner.search.result} + ' : ' "></strong> <span></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <!-- //검색 폼 -->

                    <!-- list -->
                    <table class="table table-hover" id="lists">
                        <thead class="table-dark">
                        <tr class="text-center">
                            <th scope="col" th:text="#{lang.restrain.partner.num}" class="text-center"></th>
                            <th scope="col" th:text="#{lang.restrain.partner.state}" class="text-center"></th>
                            <th scope="col" th:text="#{lang.restrain.partner.company_name}" class="text-center"></th>
                            <th scope="col" th:text="#{lang.restrain.partner.id}" class="text-center"></th>
                            <th scope="col" th:text="#{lang.restrain.partner.type}" class="text-center" ></th>
                            <th scope="col" th:text="#{lang.restrain.partner.code}" class="text-center col-3" ></th>
                            <th scope="col" th:text="#{lang.restrain.partner.start_date}" class="text-center" ></th>
                            <th scope="col" th:text="#{lang.restrain.partner.end_date}" class="text-center" ></th>
                            <th scope="col" th:text="#{lang.restrain.partner.reg_date}" class="text-center"></th>
                            <th scope="col" th:text="#{lang.restrain.partner.modi_date}" class="text-center"></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <th:block layout:fragment="paging">
                        <div class="col-md-12 d-flex flex-row-reverse my-3">
                            <ul class="pagination" style="font-size: 12px;">
                            </ul>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
        <!-- 컨텐츠 영역 -->
    </div>
</th:block>
