<script th:fragment="importJsFragment">
    $(document).ready(function () {
        let page = "[[${page}]]";
        point.list(page);
    });

    let point = {
        // 조회
        list: function (page = 1) {
            if (page != undefined) {
                $("input[name=page]").val(page);
            }
            $.ajax({
                url: '[[${SERVER.currentDomain}]]/v1/members/point/list',
                headers: {
                    'Authorization': `Bearer `+$.cookie('accessToken'),
                },
                cache : true,
                method: 'GET',
                data: $("#frm").serialize(),
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.result) {
                        //페이지 url 갱신 ( 검색 후 새로고침 시 검색값 유지 )
                        if( window.location.search !== "?"+ $("#frm").serialize() ){
                            history.pushState(null, null, "?" + $("#frm").serialize());
                        }

                        // total count
                        $(".totalCount").next().text(res.data.params.pagination.totalRecordCount.toLocaleString());
                        console.log(res.data.list);

                        if (res.data.list.length > 0) {
                            // 순서 계산
                            let totalRecordCount = res.data.params.pagination.totalRecordCount;
                            let recordSize = res.data.params.recordSize;
                            let listTbody = "";
                            $.each(res.data.list, function (index, el) {
                                // 순서 계산
                                let listNum = totalRecordCount-((page-1) * recordSize + index);

                                listTbody +=`
                                <tr>
                                    <td class="text-center">${listNum}</td>
                                    <td class="text-center"><a href="javascript:void(0);" onclick="point.view(${el.memberIdx});">${el.memberId}</a></td>
                                    <td class="text-center">${el.memberNick}</td>
                                    <td class="text-center">${el.title}</td>
                                    <td class="text-center">${el.position}</td>
                                    <td class="text-center">${el.pointText}</td>
                                    <td class="text-center">${el.restPointText}</td>
                                    <td class="text-center">${el.admin || '-'}</td>
                                    <td class="text-center">${el.partner || '-'}</td>
                                    <td class="text-center">${el.regdate}</td>
                                    <td class="text-center">${el.expireDate}</td>
                                </tr>
                            `;
                            });
                            $("#lists tbody").html(listTbody);

                            // paging - common.js
                            pagination("point", res.data.params.page, res.data.params.pagination);
                            $.cookie("backUrl", $("#frm").serialize());
                        } else {
                            // 결과 없음
                            let listTbody = `<tr><td colspan="12" class="text-center">${res.message}</td></tr>`;
                            $("#lists tbody").html(listTbody);
                            $(".pagination").html("");
                        }

                    } else {
                        // ajax exception error
                        toast.alert(res.message);
                    }
                },
                error: function (request, status, error) {
                    // filter error
                    toast.alert("code: " + request.status + "<br>" + "message: " + request.responseText + "<br>" + "error :" + error);
                }
            });
            return false;
        },
        // 엑셀
        excel: function () {
            location.href = '[[${SERVER.currentDomain}]]/member/point/excel?'+$("#frm").serialize();
        },
        // 상세
        view: function (memberIdx) {
            location.href = '[[${SERVER.currentDomain}]]/members/view/' + memberIdx ;
        },
        reset: function () {
            location.href = '[[${SERVER.currentDomain}]]/member/point/save/list';
        },
    }

    //뒤로가기 이벤트 시 실행
    $(window).on('popstate', function(event) {
        window.location = document.location.href;
    });
</script>